# Vite build files
.vite
dist/

# Node dependencies
node_modules/
client/node_modules/
package-lock.json
client/package-lock.json

# Environment variables
.env

# Logs and databases
*.log
*.db

# IDE files
.vscode/
*.idea/
